.my_icon_avatar{
    width: 15% !important;
    
}

.my_icon{
    width: 8% !important;
}

.my_bg_blue{
    background-color: #99DAFC;
}

.my_color_blue{
    color: #99DAFC;
}

.my_bg{
background-image: url('../img-boolzap/mine.jpg');


}

.sfondo{
    height: 100vh;
    background-image: linear-gradient(to bottom,
    #349589 0vh,
    #349589 15vh,
    #D9DBD5 15vh,
    #D9DBD5 100vh

    );
}

.sent{
    background-color: #D7F9BE;

}

.recived{
    background-color: #fff;
}

.my-drop-button{
    padding: 2% !important;
    margin-left: 10px !important;
    box-shadow: none !important;
}

.my-drop-menu{
    transform: translate3d(-50%,10%,0)!important;
}